body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin:40px auto;max-width:960px; line-height:1.6; font-size:17px; color:#444; padding: 20px}
h1,h2,h3 {line-height:1.2}
p {margin: 0 10px 0 0;}